demo/ctx/xos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <!-- =========================================================
       OOS Context Schema (oos.xsd)
       Validiert .ctx.xml und .conf.xml Dateien die vom
       Synthetist produziert oder manuell gepflegt werden.
       ========================================================= -->

  <!-- Root-Element -->
  <xs:element name="oos" type="OOSFile"/>

  <xs:complexType name="OOSFile">
    <xs:sequence>
      <xs:element name="private" type="Private"   minOccurs="0" maxOccurs="1"/>
      <xs:element name="ai"      type="AIGlobal"  minOccurs="0" maxOccurs="1"/>
      <xs:element name="locale"  type="Locale"    minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="source"  type="Source"    minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="context" type="Context"   minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- =========================================================
       private — Infrastruktur: Storages und DSNs
       ========================================================= -->

  <xs:complexType name="Private">
    <xs:sequence>
      <xs:element name="storage" type="Storage" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="dsn"     type="DSN"     minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="Storage">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="type" type="StorageType" use="required"/>
    <xs:attribute name="base" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:simpleType name="StorageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="fs"/>
      <xs:enumeration value="emb"/>
      <xs:enumeration value="s3"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="DSN">
    <xs:attribute name="name" type="xs:string"  use="required"/>
    <xs:attribute name="type" type="DSNType"    use="required"/>
    <xs:attribute name="path" type="xs:string"  use="required"/>
  </xs:complexType>

  <xs:simpleType name="DSNType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="postgres"/>
      <xs:enumeration value="mysql"/>
      <xs:enumeration value="sqlite"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- =========================================================
       ai — Globale System-Prompts
       ========================================================= -->

  <xs:complexType name="AIGlobal">
    <xs:sequence>
      <xs:element name="prompt" type="AIPrompt" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AIPrompt">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- =========================================================
       locale
       ========================================================= -->

  <xs:complexType name="Locale">
    <xs:attribute name="name"     type="xs:string" use="required"/>
    <xs:attribute name="language" type="xs:string" use="required"/>
    <xs:attribute name="currency" type="xs:string" use="required"/>
  </xs:complexType>

  <!-- =========================================================
       source — Externe Datenquellen
       ========================================================= -->

  <xs:complexType name="Source">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="dsn"  type="xs:string" use="optional"/>
    <xs:attribute name="url"  type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- =========================================================
       context — Das Herzstück
       ========================================================= -->

  <xs:complexType name="Context">
    <xs:sequence>
      <xs:element name="list_fields" type="xs:string"   minOccurs="0" maxOccurs="1"/>
      <xs:element name="field"       type="Field"       minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="logic"       type="Logic"       minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="navigate"    type="Navigate"    minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="relation"    type="Relation"    minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ai"          type="AIPrompt"    minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name"   type="xs:string"    use="required"/>
    <xs:attribute name="kind"   type="ContextKind"  use="required"/>
    <xs:attribute name="source" type="xs:string"    use="required"/>
    <xs:attribute name="dsn"    type="xs:string"    use="optional"/>
    <xs:attribute name="view"   type="xs:string"    use="optional"/>
    <xs:attribute name="locale" type="xs:string"    use="optional"/>
  </xs:complexType>

  <xs:simpleType name="ContextKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="collection"/>
      <xs:enumeration value="entity"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- =========================================================
       field
       ========================================================= -->

  <xs:complexType name="Field">
    <xs:attribute name="name"       type="xs:string"    use="required"/>
    <xs:attribute name="type"       type="FieldType"    use="required"/>
    <xs:attribute name="header"     type="xs:string"    use="optional"/>
    <xs:attribute name="format"     type="xs:string"    use="optional"/>
    <xs:attribute name="readonly"   type="xs:boolean"   use="optional" default="false"/>
    <xs:attribute name="filterable" type="xs:boolean"   use="optional" default="false"/>
  </xs:complexType>

  <xs:simpleType name="FieldType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="int"/>
      <xs:enumeration value="float"/>
      <xs:enumeration value="string"/>
      <xs:enumeration value="bool"/>
      <xs:enumeration value="date"/>
      <xs:enumeration value="datetime"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- =========================================================
       logic + rule
       ========================================================= -->

  <xs:complexType name="Logic">
    <xs:sequence>
      <xs:element name="rule" type="Rule" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="field" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="Rule">
    <xs:attribute name="condition" type="xs:string" use="required"/>
    <xs:attribute name="class"     type="xs:string" use="optional"/>
    <xs:attribute name="style"     type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- =========================================================
       navigate
       ========================================================= -->

  <xs:complexType name="Navigate">
    <xs:attribute name="event" type="xs:string" use="required"/>
    <xs:attribute name="to"    type="xs:string" use="required"/>
    <xs:attribute name="bind"  type="BindExpr"  use="optional"/>
  </xs:complexType>

  <!-- =========================================================
       relation
       ========================================================= -->

  <xs:complexType name="Relation">
    <xs:attribute name="name"    type="xs:string"       use="required"/>
    <xs:attribute name="context" type="xs:string"       use="required"/>
    <xs:attribute name="source"  type="xs:string"       use="optional"/>
    <xs:attribute name="type"    type="RelationType"    use="required"/>
    <xs:attribute name="bind"    type="BindExpr"        use="required"/>
  </xs:complexType>

  <xs:simpleType name="RelationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="has_many"/>
      <xs:enumeration value="has_one"/>
      <xs:enumeration value="belongs_to"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- =========================================================
       BindExpr — "local_field -> foreign_field"
       ========================================================= -->

  <xs:simpleType name="BindExpr">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z_][a-z0-9_]* -&gt; [a-z_][a-z0-9_]*"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
